arch: arm64
language: go
go:
  - 1.16.5
services:
  - docker
script: docker login --username=pleasuresun@sina.com -p "$DOCKER_PASSWORD"  registry.cn-hongkong.aliyuncs.com && git clone https://github.com/l1b0k/terway.git && cd terway && tag=$(git describe --long --tags)-arm64 && docker build -t registry.cn-hongkong.aliyuncs.com/sunyuan3/terway:${tag} . && docker push registry.cn-hongkong.aliyuncs.com/sunyuan3/terway:${tag}
